<div class="main-wrapper">
    <div class="image-background-container">
        <div class="aria-texts">{{content-img-alt}}</div>
        <div class="content-image" aria-hidden="true"></div>
    </div>
    <div class="content-title-container">
        <div class="title text">{{content-title}}</div>
        <div class="sub-title text">{{content-subtitle}}</div>
    </div>
    <div class="schedule-container">
        <div class="date-container">
            <span class="date-icon icon" aria-hidden="true"></span>
            <span class="date-label label">{{date}}</span>
        </div>
        <div class="time-container">
            <span class="time-icon icon" aria-hidden="true"></span>
            <span class="time-label label">{{time}}</span>
        </div>
        <span class="register-btn">{{register-btn-label}}</span>
    </div>
    <div class="letter-container">
        <div class="letter">{{{letter}}}</div>
    </div>
</div>